/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/


body{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    box-sizing: inherit;
    background-color:#f4f0f0 ;
   
  }
/* Typography
--------------------------------------------- */



/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */
a {
	text-decoration: none;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #000000;
}

a:focus {
	color: #000000;
}

a:active {
	color: #000000;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
section{
	margin: 2rem 0;
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* START -- STYLES FOR MOBILE MENU */
/* we will cover this more later */
/* END -- STYLES FOR MOBILE MENU */


/* Main
--------------------------------------------- */


/* Sidebar
--------------------------------------------- */


/* demostraion 
--------------------------------------------- */


	/* end of the demontration section */
/* Footer
--------------------------------------------- */
