/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */



/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* START -- STYLES FOR MOBILE MENU */
/* we will cover this more later */
/* END -- STYLES FOR MOBILE MENU */

/* Existing styles... */
/* Mobile-first styles */

.sidebar {
	font-size: 1.1rem;
    position: fixed;
    left: -15.625rem;
    top: 0;
    width: 15.625rem;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 1.25rem;
    box-shadow: .125rem 0 .5rem rgba(0,0,0,0.1);
    overflow-y: auto;
    transition: transform 0.3s ease, left 0.3s ease;
}

.sidebar.open {
    transform: translateX(15.625rem);
}

.sidebar p {
	font-size: 1rem;
	text-align: center;
}

.sidebar ul {
    list-style-type: none;
	padding: 0;
}

.site-navigation a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover { 
	background-color: #999999;
}

.main-topic {
    margin-bottom: .2rem;
	padding: .5rem;
}

.sub-topic li {
	padding: 0 0 .5rem 1rem;
}

.toggle-button {
	font-size: 1.2rem;
	font-weight: bolder;
    display: block;
    position: fixed;
    left: .5rem;
    top: .5rem;
    background-color: #f4f4f4;
    border: none;
    padding: .6rem 1rem .6rem 1rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: .125rem .125rem .3125rem rgba(0,0,0,0.1);
    transition: left 0.3s ease;
}


.toggle-button.open {
    left: 16.25rem;
    transform: rotate(180deg);
}


@media (min-width: 50rem) {
    .sidebar {
        transform: translateX(0);
        left: 0;
    }

    .toggle-button {
        display: none;
    }

}



/* Main
--------------------------------------------- */


/* Sidebar
--------------------------------------------- */


/* Footer
--------------------------------------------- */
