/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/


body{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    box-sizing: inherit;
    background-color:#f4f0f0 ;
   
  }
/* Typography
--------------------------------------------- */



/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */
a {
	text-decoration: none;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #000000;
}

a:focus {
	color: #000000;
}

a:active {
	color: #000000;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
section{
	margin: 2rem 0;
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* START -- STYLES FOR MOBILE MENU */
/* we will cover this more later */
/* END -- STYLES FOR MOBILE MENU */

/* Existing styles... */
/* Mobile-first styles */

.sidebar {
    position: fixed;
    left: -15.625rem;
    top: 0;
    width: 15.625rem;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 1.25rem;
    box-shadow: .125rem 0 .3125rem rgba(0,0,0,0.1);
    overflow-y: auto;
    transition: transform 0.3s ease, left 0.3s ease;
	z-index:99;
}

.sidebar.open {
    transform: translateX(15.625rem);
}

.sidebar ul {
    list-style-type: none;
	padding: 0;
}

.sidebar li {
    margin-bottom: .625rem;
}

.sub-topic {
	padding: .5rem 0 .5rem 1rem;
}


.sidebar a {
    text-decoration: none;
    color: #333;
}

.toggle-button {
    display: block;
    position: fixed;
    left: .625rem;
    top: .625rem;
    background-color: #f4f4f4;
    border: none;
    padding: .625rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: .125rem .125rem .3125rem rgba(0,0,0,0.1);
    transition: left 0.3s ease;
}


.toggle-button.open {
    left: 16.25rem;
    transform: rotate(180deg);
}


@media (min-width: 50rem) {
    .sidebar {
        transform: translateX(0);
        left: 0;
    }

    .toggle-button {
        display: none;
    }

}



/* Main
--------------------------------------------- */


/* Banner Image ----------------------------- */

.header-image picture {
	display: block;
}

.header-image {
	display: flex;
	justify-content: center;
}

@media (min-width: 50em) {

	.header-image {
		/* margin-left is 275px - referenced from side-bar's width 250px */
		margin-left: 17.1875rem; 
		margin-right: .9375rem;
	}

}

/* Main Content ----------------------------- */

.main-content {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	background-color: #1F2634;
}


/* Sidebar
--------------------------------------------- */


/* demostraion 
--------------------------------------------- */
.demonstration{
	background: url('../images/bg-demo.jpg') no-repeat center center/cover; 
	background-color: #26aedb;
	height:100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
	padding: 1rem 1rem 1rem 2rem;
}
.demonstration h1 {
	font-size: 1.6rem;
	margin: 1rem 0 ;
  } 
	
.demonstration	.weather-container {
      display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	  text-align: center;
	  background: rgb(157,209,210);
      background: linear-gradient(0deg, rgba(157,209,210,1) 22%, rgba(33,163,207,1) 93%);
	  padding: 1.5rem;
	  border-radius: 10px;
	  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  opacity: 0.8;
	}
	
	.demonstration  #weatherResult h1 {
	  font-size: 1.2rem;
	  margin: 1rem 0rem  0rem;
	}
  
	.demonstration #weatherResult h2 {
	  font-size: 1.1rem;
	  margin-bottom: 0.5rem;
	  
	}
	
	.demonstration input {
	  padding: .5rem;
	  font-size: 1rem;
	  border: none;
	  outline: none;
	  border-radius: 4px;
	  
	}
	
	.demonstration button {
	  padding: .5rem;
	  font-size: 1rem;
	  cursor: pointer;
	  border: none;
	  background-color: #2c3e50;
	  color: white;
	  border-radius: 4px;
	}
	
	.demonstration #weatherResult p {
  
	  margin: 0.1rem 0;
	}
	.demonstration #cityName i{
	  margin-right: 1rem;
	  color: #2c3e50;
	}
  
	.demonstration #feelLike, #description {
	 font-size: 1.2rem;
	}

	.demonstration img{
		width: 60%;
	}
	.demonstration .subforecasts{
	  display: flex;
	  justify-content: center;
	  gap: 3rem;
	}
	.demonstration .subforecasts p{
	  flex: 1;  
	  background: linear-gradient(to top, #2c3e50, #34495e);
	  text-align: center;
	  padding: 0.5rem;
	  border-radius: 10px;
	  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	  font-size: 0.8rem;
	}
	
	.demonstration .subforecasts i{
	  margin-bottom: 0.5rem;
	  font-size: 1.5rem;
	}
  
	.demonstration .subforecasts span{
	  font-size: 0.6rem;
	}
   
/* mobile queries for demo section */

@media (min-width:50em) {
	 .demonstration	{
		padding: 2rem;
		
	} 
	.demonstration	.weather-container {
		display: inline-block;
		justify-content: center;
		padding: 1.5rem;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  }
      .demonstration input {
		margin-right: .5rem;
		
	  }

	  .demonstration  #weatherResult h1 {
		font-size: 1.4rem;
		margin: 1.5rem 0rem  0rem;
	  }
	  .demonstration img{
		width: 75%;
	}
	  
  }

	/* end of the demontration section */
/* Footer
--------------------------------------------- */

footer{
	padding: 1rem;
}

footer p{
	text-align: center;
}

@media (min-width: 50em) {
	footer{
		margin-left: 17.1875rem;
	}
}